<div class="row section-wrapper">
    <h3>About Kim</h3>
   <div class="col-sm-6">
        <div class="card about-card">
            <img class="card-img-top" src="https://tinyurl.com/y38om7ny" alt="Kim Mulligan">
            <div class="card-body">
                <p class="card-text">
                    Being raised in NH, I grew to have an appreciation for “old things” and using the word wicked. 
                    I’m a photographer with an art history background. I also have an eye for hidden gems. 
                    My style is classically hip. I love finding one-of-a-kind and unusual pieces for my clients. Everyone wants a home filled with conversation pieces!  
                    I can bring you timeless home furnishings for less than you would pay at a large retailer.  And no assembly required! 
                    It’s exciting to know that some of these pieces will become family heirlooms that will bring style to homes for generations. 
                    Most of what I sell is vintage or antique, occasionally I'll have a newer item that I can't resist❣️
                </p>
            </div>
        </div>
    </div>
</div>

