<ol class="row section-wrapper" id="user-list">
    {{#each users as |user|}}
    <li>
        <article class="user">
            <div class="username">
                <span>({{user.username}})</span>
            </div>
        </article>
    </li>
    {{/each}}
</ol>