<div class="row section-wrapper" id="featured-items-wrapper"> 
    <h3> Featured Items</h3>
    <div class="row gallery" id="featured-items-gallery">
        <div class="col-sm">
            Featured Item #1
        </div>
        <div class="col-sm">
            Featured Item #2
        </div>
        <div class="col-sm">
            Featured Item #3
        </div>
    </div>
</div>

<div class="row section-wrapper" id="all-items-wrapper">
    <h3>All Items</h3>
    <div class="row gallery" id="all-items-gallery">
        <div class="col-sm">
            Item #1
        </div>
        <div class="col-sm">
            Item #2
        </div>
        <div class="col-sm">
            Item #3
        </div>
    </div>

</div>